<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/contract" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
    </div>
    <div class="button">
        <button type="submit">Send</button>
    </div>
</form>